body {
  min-height: 1000px;
}

body a {
  color: #000
}

body>div {
  padding: 0 8px;
}

.header-wrap {
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(256, 256, 256, 0.7);
  width: 100%;
}

.header-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.slick-next {
  display: none;
}

.slick-prev {
  display: none;
}

.menu i {
  background: url(../img/ico_24_gnb_all2.svg) 50% 50% no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

.menu .button1 {
  border: none;
  background: transparent;
  width: 40px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 160px;
  height: 48px;
  ;
  position: absolute;
  top: 0;
  left: 50%;
  background: url(../img/logo.svg) center center no-repeat;
  text-indent: -9999px;
  transform: translate(-50%);
}


img {
  width: 100%;
}

ul>div {
  margin-right: 15px;
}

li p {
  padding-top: 10px;
}

.section {
  margin: 20px 0;
}

.section a {
  display: block;
}

.section>ul {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.section li {
  box-sizing: border-box;
  width: 148px;
}

h1 {
  padding: 50px 0 20px 0;
  font-weight: bold;
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-text {
  padding: 24px 16px 24px 24px;
  background: gainsboro;
}


.slick-slide {
  margin-right: 10px;
}

.button2 {
  width: 14px;
  height: 14px;
  display: block;
  position: fixed;
  overflow: hidden;
  top: 12px;
  left: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  transition: all .3s ease;
  text-indent: -9999em;
  opacity: 1;
  z-index: 4;
}

.button2 svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  z-index: 4;
  fill: white;
  opacity: 0;
}

.dark {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 100vw;
  inset: 0px;
}

.gnb {
  width: 240px;
  position: fixed;
  left: -500px;
  top: 0;
  z-index: 3;
  background: #fff;
  height: 100vh
}

.gnb>div {
  
  padding: 32px 0;
}
.space {    padding: 0 16px;
  position: absolute;
  width: 240px;
  height: 48px;
  top: 0;
  left: 0;
  background: #fff;}
  .gnb-li1 {    position: absolute;
    width: 100%;
    height: 110px;
    top: 48px;
    left: 0;
    padding: 32px 16px;
    background: #fff;}

  .gnb-li2 {position: absolute;
    top: 158px;
    height: 113px;
    width: 100%;
   
    display: flex;
   
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    padding: 0 16px 32px;}
.gnb-li2 ul::after {
  clear: both;
  content: "";
  display: block;
}

.gnb-li2 li {
  float: left
}
.gnb > .scroll { box-sizing: border-box;
  height:100%;
  padding-top: 270px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}
.scroll > div { margin: 0 16px;

  padding: 32px 0;}

.gnb-li4 li {
  float: left
}

.gnb-li4 ul::after {
  clear: both;
  content: "";
  display: block;
}